<section>
    <div id="modal-container">
        <h1 class="title-text primary-text">Editar estudante</h1>

        <form [formGroup]="formGroup" (ngSubmit)="updateStudent()">
            <div class="input-container">
                <label class="input-field-label body-text secondary-text" for="name">Nome:</label>
                <input 
                    id="name" 
                    class="input-field body-text primary-text" 
                    type="text" 
                    formControlName="name" 
                    [readOnly]="isLoading"
                >
                @if (formControls.name.errors?.['required'] && formControls.name.touched) {
                <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                }
            </div>

            <div class="input-container">
                <label class="input-field-label body-text secondary-text" for="major">Graduação:</label>
                <input 
                    id="major" 
                    class="input-field body-text primary-text" 
                    type="text" 
                    formControlName="major"
                    [readOnly]="isLoading"
                >
                @if (formControls.major.errors?.['required'] && formControls.major.touched) {
                <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                }
            </div>

            <div class="form-row">
                <div class="input-container">
                    <label class="input-field-label body-text secondary-text" for="college">Faculdade:</label>
                    <input 
                        id="college" 
                        class="input-field body-text primary-text" 
                        type="text"
                        formControlName="college"
                        [readOnly]="isLoading"    
                    >
                    @if (formControls.college.errors?.['required'] && formControls.college.touched) {
                    <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                    }
                </div>

                <div class="input-container">
                    <label class="input-field-label body-text secondary-text" for="phoneNumber">Telefone:</label>
                    <input 
                        id="phoneNumber" 
                        class="input-field body-text primary-text" 
                        type="tel" 
                        mask="(00) 00000-0000"
                        formControlName="phoneNumber"
                        [readOnly]="isLoading"    
                    >
                    @if (formControls.phoneNumber.errors?.['required'] && formControls.phoneNumber.touched) {
                    <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                    }
                    @if ((formControls.phoneNumber.errors?.['minlength'] ||
                    formControls.phoneNumber.errors?.['maxlength']) && formControls.phoneNumber.touched &&
                    formControls.phoneNumber.dirty) {
                    <p class="invalid-input-message small-body-text">O telefone deve ter 11 dígitos</p>
                    }
                    @if ((formControls.phoneNumber.errors?.['phoneNumberExists'] ||
                    formControls.phoneNumber.errors?.['maxlength']) && formControls.phoneNumber.touched &&
                    formControls.phoneNumber.dirty) {
                    <p class="invalid-input-message small-body-text">Telefone já em uso</p>
                    }
                </div>
            </div>

            <div id="buttons-container">
                <button 
                    id="cleanFormBtn" 
                    class="secondary-action-btn opacity-hover body-text primary-text bold"
                    type="button" 
                    [disabled]="isLoading"
                    (click)="emmitCloseModal()"
                >
                    Cancelar
                </button>
                <button 
                    id="submitFormBtn" 
                    class="primary-action-btn opacity-hover body-text primary-text bold"
                    type="submit" 
                    [disabled]="formGroup.invalid || isLoading"
                >
                    Salvar
                </button>
            </div>
        </form>
    </div>

    @if (isLoading) {
    <app-spinner />
    }
</section>