@use "../../../../../styles/variables.scss" as *;

.page-container {
    align-items: center;
    justify-self: center;

    header {
        margin-top: 100px;
    }

    main {
        .cards-wrapper {
            width: 100%;
            max-width: 400px;

            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}