<section>
    <div id="dialog-container">
        <h1 class="title-text primary-text">Novo estudante</h1>

        <form [formGroup]="formGroup">
            <div class="input-container">
                <label class="input-field-label body-text secondary-text" for="name">Nome:</label>
                <input 
                    id="name" 
                    class="input-field body-text primary-text" 
                    type="text" 
                    autocomplete="off"
                    formControlName="name" 
                    [readOnly]="isLoading"
                >
                @if (isInputNotFilled("name")) {
                    <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                }
            </div>

            <div class="input-container">
                <label class="input-field-label body-text secondary-text" for="major">Graduação:</label>
                <input 
                    id="major" 
                    class="input-field body-text primary-text" 
                    type="text" 
                    formControlName="major"
                    [readOnly]="isLoading"
                >
                @if (isInputNotFilled("major")) {
                    <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                }
            </div>

            <div class="form-row">
                <div class="input-container">
                    <label class="input-field-label body-text secondary-text" for="college">Faculdade:</label>
                    <input 
                        id="college" 
                        class="input-field body-text primary-text" 
                        type="text"
                        formControlName="college"
                        [readOnly]="isLoading"    
                    >
                    @if (isInputNotFilled("college")) {
                        <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                    }
                </div>

                <div class="input-container">
                    <label class="input-field-label body-text secondary-text" for="phone-number">Telefone:</label>
                    <input 
                        id="phone-number" 
                        class="input-field body-text primary-text" 
                        type="tel" 
                        mask="(00) 00000-0000"
                        autocomplete="off"
                        formControlName="phoneNumber"
                        [readOnly]="isLoading"    
                    >
                    @if (isInputNotFilled("phoneNumber")) {
                        <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                    }
                    @if (isPhoneNumberNotCompleted()) {
                        <p class="invalid-input-message small-body-text">O telefone deve ter 11 dígitos</p>
                    }
                    @if (isPhoneNumberInUse()) {
                        <p class="invalid-input-message small-body-text">Telefone já em uso</p>
                    }
                </div>
            </div>

            <div id="buttons-container">
                <app-button 
                    bodyText="Cancelar" 
                    type="secondary-btn" 
                    [isDisabled]="isLoading"
                    (buttonClickedEmitter)="emmitCloseModal()"
                />
                <app-button 
                    bodyText="Salvar" 
                    type="primary-btn" 
                    [isDisabled]="formGroup.invalid || isLoading"
                    (buttonClickedEmitter)="createStudent()"
                />
            </div>
        </form>
    </div>

    @if (isLoading) {
        <app-spinner />
    }
</section>