main {
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    #addBtnContainer {
        width: 200px;
    }

    #paymentsCardsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 8px;
    }
}