<div class="page-container">
    <app-page-header backRouterLink="/payments" title="Detalhes do Pagamento" />

    <main>
        <div id="payment-data-container">
            <section id="amounts-container">
                <h2 class="subtitle-text primary-text">Valores:</h2>
                <div id="cards-container">
                    <div class="cards-row">
                        @if (!isLoadingPayment) {
                            <app-payment-data-card label="Data:" [value]="payment.invoiceMonth + '/' + payment.invoiceYear" />
                            <app-payment-data-card label="Total:" [value]="payment.totalAmount" [callCurrencyPipe]="true" />
                        } @else {
                            <app-payment-data-card-skeleton />
                            <app-payment-data-card-skeleton />
                        }
                    </div>

                    <div class="cards-row">
                        @if (!isLoadingPayment) {
                            <app-payment-data-card label="Total a ser pago:" [value]="payment.totalToBePaid" [callCurrencyPipe]="true" />
                            <app-payment-data-card label="Mensalidade:" [value]="payment.tuitionAmount" [callCurrencyPipe]="true" />
                        } @else {
                            <app-payment-data-card-skeleton />
                            <app-payment-data-card-skeleton />
                        }
                    </div>
                </div>
            </section>

                <section id="financial-helps-container">
                    <h2 class="subtitle-text primary-text">Auxílios financeiros:</h2>
                    <ul>
                        @if (!isLoadingPayment) { 
                            @if (payment.financialHelps.length !== 0) {
                                @for (financialHelp of payment.financialHelps; track $index) {
                                    <li>
                                        <p class="body-text secondary-text">{{ financialHelp.name + ':' }}</p>
                                        <p class="body-text primary-text bold">{{ financialHelp.amount | currency }}</p>
                                    </li>
                                }
                            } @else {
                                <p class="body-text secondary-text">Não há auxílios financeiros registrados para esse pagamento...</p>
                            }
                        } @else {
                            @for (i of [1, 2]; track $index) {
                                <li>
                                    <div class="skeleton"></div>
                                    <div class="skeleton"></div>
                                </li>
                            }
                        }
                    </ul>
                </section>
        </div>

        <section id="tuitions-container">
            <h2 class="subtitle-text primary-text">Mensalidades:</h2>
            
            <app-filter-radio 
                [options]="filterRadioOptions" 
                [disableForm]="isLoadingTuitions"
                (filterOptionChangedEmitter)="handleStatusFilterChanged($event)" 
            />

            <div id="tuitions-cards-container">
                @if (!isLoadingTuitions) {
                    @if (tuitions.length !== 0) {
                        @for (tuition of tuitions; track $index) {
                            <app-tuition-card 
                                [tuition]="tuition" 
                                (tuitionUpdateEmitter)="removeTuitionFromList($index)" 
                            />
                        }
                    } @else {
                        <p class="body-text secondary-text">No momento, não há mensalidades {{ tuitionSelectedTypeText }}...</p>
                    }
                } @else {
                    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
                        <app-tuition-card-skeleton />
                    }
                }
            </div>
        </section>
    </main>

    <app-page-footer>
        <p class="body-text primary-text">Listar alunos com mensalidades:</p>
        <app-button 
            type="primary-btn" 
            [isDisabled]="isLoadingTuitions"
            [bodyText]="selectedTuitionStatus ? 'Pagas' : 'Pendentes'" 
            (buttonClickedEmitter)="copyStudentsNamesFromTuitons()" 
        />
    </app-page-footer>
</div>