// $primary-color: #0a3674;

// $primary-text-color: #0d0d0d;
// $secondary-text-color: #555555;

// $primary-bg-color: #fafafa;
// $secondary-bg-color: #EEE;

// $primary-color: #212121;

$primary-text-color: #FEFFFF;
$secondary-text-color: #A4A4A4;

$primary-bg-color: #212121;
$secondary-bg-color: #181818;
$terciary-bg-color: #414141;
$action-primary-bg-color: #2979FF;

$default-border: 1px solid $terciary-bg-color;
$card-border: 2px solid $terciary-bg-color;

$container-border-radius: 16px;

$input-padding: 4px 8px;
$input-border-radius: 8px;

$button-padding: 8px 12px;
$button-border-radius: 8px;

$hover-transition: 200ms ease-in;
$open-close-transition: 200ms ease-in;

// $small-device-screen: 600px;
$tablet-screen: 768px;
$notebook-screen: 992px;
$desktop-screen: 1200px;

/** Mobile device variables */
$mobile-icon-size: 20px;
$mobile-title-font-size: 24px;
$mobile-subtitle-font-size: 20px;
$mobile-body-font-size: 14px;
$mobile-body-small-font-size: 12px;

/** Tablet device variables */
$tablet-title-font-size: 28px;

/** Notebook device variables */
$notebook-icon-size: 24px;
$notebook-title-font-size: 32px;
$notebook-subtitle-font-size: 28px;
$notebook-body-font-size: 16px;
$notebook-body-small-font-size: 14px;
