// $primary-color: #0a3674;

// $primary-text-color: #0d0d0d;
// $secondary-text-color: #555555;

// $primary-bg-color: #fafafa;
// $secondary-bg-color: #EEE;

// $primary-color: #212121;

$primary-text-color: #FEFFFF;
$secondary-text-color: #A4A4A4;

$primary-bg-color: #212121;
$secondary-bg-color: #181818;
$terciary-bg-color: #414141;

$mobile-icon-size: 28px;