$primary-text-color: #FEFFFF;
$secondary-text-color: #A4A4A4;

$primary-bg-color: #212121;
$secondary-bg-color: #181818;
$terciary-bg-color: #414141;
$action-primary-bg-color: #2979FF;
$delete-action-color: #FF5252;

$default-border: 1px solid $terciary-bg-color;
$card-border: 2px solid $terciary-bg-color;

$container-border-radius: 16px;

$input-vertical-padding: 4px;
$input-horizontal-padding: 8px;
$input-padding: $input-vertical-padding $input-horizontal-padding;
$input-border-radius: 8px;

$button-border-radius: 8px;
$button-vertical-padding: 8px;
$button-horizontal-padding: 12px;
$button-padding: $button-vertical-padding $button-horizontal-padding;

$default-opacity: 0.7;
$hover-transition: 200ms ease-in;
$open-close-transition: 200ms ease-in;

// $small-device-screen: 600px;
$tablet-screen: 768px;
$notebook-screen: 992px;
$desktop-screen: 1200px;

/** Mobile device variables */
$mobile-icon-size: 20px;
$mobile-title-font-size: 24px;
$mobile-subtitle-font-size: 18px;
$mobile-body-font-size: 14px;
$mobile-body-small-font-size: 12px;

/** Tablet device variables */
$tablet-title-font-size: 28px;

/** Notebook device variables */
$notebook-icon-size: 24px;
$notebook-title-font-size: 32px;
$notebook-subtitle-font-size: 26px;
$notebook-body-font-size: 16px;
$notebook-body-small-font-size: 14px;
