@use "../../../../../styles/variables.scss" as *;

#card-container {
    padding: 4px 8px;
    border: $card-border;
    border-radius: $container-border-radius;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between; 

    #date-container {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}