<div id="card-container" class="opacity-hover" (click)="openPaymentDetails()">
    <div id="date-container">
        <p class="body-text primary-text bold">{{ paymentSummary?.invoiceMonth }}</p>
        <p class="body-text primary-text bold">-</p>
        <p class="body-text primary-text bold">{{ paymentSummary?.invoiceYear }}</p>
    </div>

    <div>
        <p class="small-body-text secondary-text">
            Valor da mensalidade: <span class="primary-text bold">{{ paymentSummary?.tuitionAmount | currency }}</span>
        </p>
        <p class="small-body-text secondary-text">
            Valor total do pagamento: <span class="primary-text bold">{{ paymentSummary?.totalAmount | currency }}</span>
        </p>
    </div>
</div>