<div class="page-container">
    <app-page-header backRouterLink="/payments" title="Novo Pagamento" />

    <main>
        <form [formGroup]="paymentFormGroup">
            <section id="essential-data-container">
                <div>
                    <h2 class="subtitle-text primary-text">Dados Essenciais</h2>
                    <p class="body-text secondary-text">Dados essenciais para gerar o pagamento</p>
                </div>

                <div class="input-container">
                    <label 
                        for="total-amount"
                        class="input-field-label body-text secondary-text" 
                    >
                        Valor total:
                    </label> 
                    <input 
                        id="total-amount" 
                        class="input-field body-text primary-text" 
                        type="text"
                        placeholder="R$ 20.000" 
                        formControlName="totalAmount" 
                        prefix="R$ " 
                        mask="separator.2"
                        decimalMarker="," 
                        thousandSeparator="."
                        autocomplete="off"
                    >
                    @if (totalAmountControl.errors?.['required'] && totalAmountControl.touched) {
                        <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                    }
                    @if (totalAmountControl.errors?.['lessThanOne'] && totalAmountControl.dirty) {
                        <p class="invalid-input-message small-body-text">Valor precisa ser maior que R$ 1,00</p>
                    }
                </div>

                <div class="initial-data-row">

                    <app-select
                        labelText="Formato" 
                        labelTextSizeClass="body-text"
                        [options]="monthsOptions" 
                        [initialOptionIndex]="currentMonthIndex"
                        (selectedOptionIndexEmitter)="updateSelectedMonthOption($event)"
                    />

                    <div class="input-container">
                        <label class="input-field-label body-text secondary-text" for="year">Ano:</label>
                        <input 
                            id="year" 
                            class="input-field body-text primary-text" 
                            type="text"
                            mask="0000"
                            formControlName="year" 
                            [readOnly]="isLoading"
                        >
                        @if (yearControl.errors?.['required'] && yearControl.touched) {
                            <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                        }
                        @if (yearControl.errors?.['invalid'] && yearControl.dirty) {
                            <p class="invalid-input-message small-body-text">O ano deve ter 4 dígitos</p>
                        }
                    </div>
                </div>
            </section>

            <section id="financial-helps-container" formArrayName="financialHelps">
                <div>
                    <h2 class="subtitle-text primary-text">Auxílios Financeiros</h2>
                    <p class="body-text secondary-text">Auxílios externos associados ao pagamento</p>
                    @if (financialHelps.controls.length === 0) {
                        <p id="empty-financial-helps-text" class="body-text secondary-text">Sem auxílios financeiros no momento...</p>
                    }
                </div>
                
                @for (financialHelp of financialHelps.controls; track financialHelp; let index = $index) {
                    <div class="financial-help-row" [formGroupName]="index">
                        <div class="name-input-container input-container">
                            <label 
                                [for]="`name${index}`"
                                class="input-field-label body-text secondary-text" 
                            >
                                Nome:
                            </label>
                            <input 
                                [id]="`name${index}`" 
                                class="input-field body-text primary-text" 
                                type="text"
                                autocomplete="off"
                                formControlName="name"
                            >
                            @if (financialHelp.get('name')?.errors?.['required'] && financialHelp.get('name')?.touched) {
                                <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                            }
                        </div>

                        <div class="amount-input-container input-container">
                            <label 
                                class="input-field-label body-text secondary-text"
                                [for]="`amount${index}`"
                            >
                                Valor:
                            </label>
                            <input 
                                [id]="`amount${index}`" 
                                class="input-field body-text primary-text" 
                                type="text"
                                placeholder="R$ 3.000" 
                                formControlName="amount" 
                                prefix="R$ " 
                                mask="separator.2"
                                decimalMarker="," 
                                thousandSeparator="."
                                autocomplete="off"
                            >
                            @if (financialHelp.get('amount')?.errors?.['required'] && financialHelp.get('amount')?.touched) {
                                <p class="invalid-input-message small-body-text">Campo obrigatório</p>
                            }
                            @if (financialHelp.get('amount')?.errors?.['lessThanOne'] && financialHelp.get('amount')?.dirty) {
                                <p class="invalid-input-message small-body-text">Valor precisa ser maior que R$ 1,00</p>
                            }
                        </div>

                        <app-button 
                            type="delete-btn"
                            iconName="delete"
                            bodyText=""
                            (buttonClickedEmitter)="removeFinancialHelp(index)"
                        />
                    </div>
                }

                @if (paymentFormGroup.errors?.['financialHelpsExceedTotal']) {
                    <p class="invalid-input-message small-body-text">A soma dos auxílios financeiros não pode ser maior ou igual ao valor do pagamento</p>
                }

                <app-button
                    id="financial-help-add-button"
                    type="secondary-btn"
                    bodyText="Adicionar auxílio financeiro"
                    (buttonClickedEmitter)="addFinancialHelp()"
                />
            </section>
        </form>

        <section id="students-container">
            <div>
                <h2 class="subtitle-text primary-text">Estudantes</h2>
                <p class="body-text secondary-text">
                    Quantidade de estudantes associados ao pagamento:
                    <span class="primary-text">{{ paymentStudentsIds.length }}</span>
                </p>
            </div>

            <div id="cards-container">
                @if (activeStudents$ | async; as activeStudents) {
                    @for (student of activeStudents; track $index) {
                        <app-student-summary-card 
                            [student]="student" 
                            (addStudentToPaymentEmmiter)="addStudentToPayment($event)"
                            (removeStudentFromPaymentEmmiter)="removeStudentFromPayment($event)"
                        />
                    }
                } @else {
                    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) { 
                        <app-student-summary-card-skeleton />
                    }
                }
            </div>
        </section>
    </main>

    <app-page-footer>
        <app-button 
            bodyText="Calcular Valores" 
            type="secondary-btn" 
            [isDisabled]="paymentFormGroup.invalid"
            (buttonClickedEmitter)="openPaymentAmountsModal()"
        />
        <app-button 
            bodyText="Gerar Pagamento" 
            type="primary-btn" 
            [isDisabled]="paymentFormGroup.invalid"
            (buttonClickedEmitter)="createPayment()"
        />
    </app-page-footer>

    @if (isPaymentAmountsModalOpened) {
        <app-payment-amounts-modal 
            [totalAmount]="totalAmountControl.value"
            [studentsQuantity]="paymentStudentsIds.length"
            [financialHelps]="generateFinancialHelpsRequestList()"
            (closeModalEmitter)="closePaymentAmountsModal()" 
        />
    }

    @if (isLoading) {
        <app-spinner />
    }
</div>