<section>
    <form [formGroup]="filterFormGroup">
        <div id="filterTypeContainer">
            <div id="optionsViewBtnContainer">
                <p class="body-text secondary-text">Filtrar por:</p>
                <button id="optionsViewBtn" class="secondary-action-btn opacity-hover" type="button" (click)="toggleIsOptionsOpened()">
                    <span class="body-text primary-text">{{ filterTypeSelected }}</span>
                    <span id="chevron" class="material-symbols-rounded primary-icon" [class.options-opened]="isOptionsOpened">
                        keyboard_arrow_down
                    </span>
                </button>
            </div>

            <ul id="optionsList" [class.open]="isOptionsOpened">
                @for (type of filterTypes; track $index) {
                <li class="option">
                    <input 
                        type="radio" 
                        name="type" 
                        formControlName="type"
                        [value]="type.value" 
                        (click)="toggleIsOptionsOpened()"
                        >
                    <p class="body-text primary-text">{{ type.label }}</p>
                    <span class="material-symbols-rounded primary-icon check-icon">check</span>
                </li>
                }
            </ul>
        </div>

        <div id="filterInputContainer">
            <input id="valueInput" class="input-field body-text primary-text" type="text" placeholder="Buscar estudantes" formControlName="value" (keydown.enter)="onSearch()"/>
            <span id="searchIcon" class="material-symbols-rounded primary-icon" (click)="onSearch()">search</span>
        </div>
    </form>
</section>