<div class="page-container">
    <header>
        <a id="backBtn" routerLink="/home">
            <span class="material-symbols-rounded secondary-icon">arrow_back</span>
        </a>
        <h1 class="title-text primary-text">Estudantes</h1>
    </header>

    <main>
        <div id="pageActionsContainer">
            <app-student-filter />

            <button id="addStudentBtn" class="primary-action-btn opacity-hover" (click)="openStudentCreationModal()">
                <span class="material-symbols-rounded primary-icon">person_add</span>
                <p class="body-text primary-text bold">Novo estudante</p>
            </button>
        </div>

        <section id="studentsContainer">
            @for (student of students$ | async; track $index) {
            <app-student-card [student]=student />
            }
        </section>

        @if (isStudentCreationModalOpened) {
        <app-student-creation-modal 
            (successCreationEmitter)="getStudents()"
            (closeModalEmmiter)="closeStudentCreationModal()"
        />
        }

        @if (isLoading) {
        <app-spinner />
        }
    </main>
</div>