<div class="page-container">
    <header>
        <a id="backBtn" routerLink="/home">
            <span class="material-symbols-rounded secondary-icon">arrow_back</span>
        </a>
        <h1 class="title-text primary-text">Estudantes</h1>
    </header>

    <main>
        <app-student-filter />

        <section id="addBtnAndPageSeletorContainer">
            <button id="addStudentBtn" class="primary-action-btn opacity-hover" (click)="openStudentCreationModal()">
                <span class="material-symbols-rounded primary-icon">person_add</span>
                <p class="body-text primary-text bold">Novo estudante</p>
            </button>

            <div id="pageSelectorContainer">
                @if (!isLoading) {
                <p class="body-text secondary-text">Total de estudantes: 
                    <span class="primary-text">{{ totalStudents }}</span>
                </p>
                }

                <button class="opacity-hover" (click)="getPreviousStudents()"
                    [disabled]="pseudoPageNumber === 1 || isLoading">
                    <span class="material-symbols-rounded primary-icon">chevron_left</span>
                </button>

                @if (pseudoPageNumber !== 1) {
                <p class="body-text primary-text pageCounter">{{ pseudoPageNumber - 1 }}</p>
                }

                <p id="pageNumber" class="body-text primary-text pageCounter">
                    {{ pseudoPageNumber }}
                </p>

                <p class="body-text pageCounter" [class.primary-text]="hasNextPage" [class.secondary-text]="!hasNextPage">
                    {{ pseudoPageNumber + 1 }}
                </p>

                <button class="opacity-hover" (click)="getNextStudents()" [disabled]="!hasNextPage || isLoading">
                    <span class="material-symbols-rounded primary-icon">chevron_right</span>
                </button>
            </div>
        </section>

        <section id="studentsContainer">
            @if (isLoading) {
            @for (i of studentCardSkeletonQuantity; track $index) {
            <app-student-card-skeleton />
            }
            } @else {
            @for (student of students; track $index) {
            <app-student-card [student]="student" (inactiveStudentEmitter)="inactivateStudent($event)" />
            }
            }
        </section>

        @if (isCreationModalOpened) {
        <app-student-creation-modal (successCreationEmitter)="getStudents()"
            (closeModalEmitter)="closeStudentCreationModal()" />
        }
    </main>
</div>