@use "../../../../../styles/variables.scss" as *;

header {
    display: flex;
    align-items: center;

    #backBtn {
        padding: 4px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        transition: $hover-transition;

        &:hover {
            background-color: $terciary-bg-color;
        }
    }

    h1 {
        margin: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #studentsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 12px;
    }

    #pageActionsContainer {
        #addStudentBtn {
            display: flex;
            align-items: center;
            gap: 8px;

            position: fixed;
            right: 8px;
            bottom: 16px;
            z-index: 3;
        }
    }
}

@media (min-width: $tablet-screen) {
    header {
        #backBtn {
            display: none;
        }

        h1 {
            margin: 0;
        }
    }

    main {
        #pageActionsContainer {
            #addStudentBtn {
                right: 16px;
            }
        }
    }
}

@media (min-width: $notebook-screen) {
    main {
        #pageActionsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            #addStudentBtn {
                padding: 4px 12px;
                position: static;
            }
        }

        #studentsContainer {
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        }
    }
}