@use "../../../../../styles/variables.scss" as *;

main {
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    #active-form-and-add-button-container {
        display: flex;
        justify-content: space-between;

        app-button {
            width: 200px;
        }
    }

    #students-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 8px;
    }
}

@media (min-width: $tablet-screen) {
    main {
        #active-form-and-add-button-container {
            gap: 16px;
            justify-content: start;
        }
    }
}

@media (min-width: $notebook-screen) {
    main {
        #students-container {
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        }
    }
}