@use "../../../../../styles/variables.scss" as *;

#card-container {
    padding: 8px;
    border: $card-border;
    border-radius: $container-border-radius;

    display: flex;
    justify-content: space-between;
    position: relative;

    #student-info-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        #name {
            width: 200px;
            height: 22px;
        }

        #education {
            width: 160px;
            height: 18px;
        }

        #phone {
            width: 120px;
            height: 18px;
        }
    }

    #actions-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}