@use "./styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
}

body {
    background-color: $primary-bg-color;

    &.overflow-hidden {
        overflow: hidden;
    }
}

.page-container {
    padding: 8px;
    padding-bottom: 20px;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-text {
    font-size: $mobile-title-font-size;
}

.subtitle-text {
    font-size: $mobile-subtitle-font-size;
}

.body-text {
    font-size: $mobile-body-font-size;
}

.small-body-text {
    font-size: $mobile-body-small-font-size;
}

.primary-text {
    color: $primary-text-color;
}

.secondary-text {
    color: $secondary-text-color;
}

.bold {
    font-weight: bold;
}

.primary-icon {
    color: $primary-text-color;
    font-size: $mobile-icon-size;
}

.secondary-icon {
    color: $secondary-text-color;
    font-size: $mobile-icon-size;
}

.input-field {
    padding: $input-padding;
    border: $default-border;
    border-radius: $input-border-radius;

    background-color: $secondary-bg-color;

    &:focus {
        outline: 1px solid $action-primary-bg-color;
    }

    &::placeholder {
        color: $secondary-text-color;
        opacity: 0.7;
    }
}

.input-field-label {
    cursor: pointer;
}

.primary-action-btn {
    padding: $button-padding;
    border: none;
    border-radius: $button-border-radius;

    background-color: $action-primary-bg-color;

    outline: none;

    &:focus {
        outline: 1px solid $primary-text-color;
    }
}

.secondary-action-btn {
    padding: $button-padding;
    border: $default-border;
    border-radius: $button-border-radius;
    background-color: transparent;

    outline: none;

    &:focus {
        outline: 1px solid $action-primary-bg-color;
    }
}

.opacity-hover {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
        transition: $hover-transition;
    }
}

@media (min-width: $tablet-screen) {
    .page-container {
        padding: 16px;
    }

    .title-text {
        font-size: $tablet-title-font-size;
    }
}

@media (min-width: $notebook-screen) {
    .title-text {
        font-size: $notebook-title-font-size;
    }

    .subtitle-text {
        font-size: $notebook-subtitle-font-size;
    }

    .body-text {
        font-size: $notebook-body-font-size;
    }

    .small-body-text {
        font-size: $notebook-body-small-font-size;
    }

    .primary-icon {
        font-size: $notebook-icon-size;
    }

    .secondary-icon {
        font-size: $notebook-icon-size;
    }
}