@use "ngx-toastr/toastr" as *;
@use "./styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $primary-bg-color;

    &.overflow-hidden {
        overflow: hidden;
    }
}

.ngx-toastr {
    box-shadow: none !important;
}

.page-container {
    padding: 8px;
    padding-bottom: 20px;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-container {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-text {
    font-size: $mobile-title-font-size;
}

.subtitle-text {
    font-size: $mobile-subtitle-font-size;
}

.body-text {
    font-size: $mobile-body-font-size;
}

.small-body-text {
    font-size: $mobile-body-small-font-size;
}

.primary-text {
    color: $primary-text-color;
}

.secondary-text {
    color: $secondary-text-color;
}

.bold {
    font-weight: bold;
}

.primary-icon {
    color: $primary-text-color;
    font-size: $mobile-icon-size;
}

.secondary-icon {
    color: $secondary-text-color;
    font-size: $mobile-icon-size;
}

.input-field {
    min-height: $mobile-button-input-min-height;
    padding: $input-padding;
    border: $default-border;
    border-radius: $input-border-radius;

    background-color: $secondary-bg-color;

    &:focus {
        outline: 1px solid $action-primary-bg-color;
    }

    &::placeholder {
        color: $secondary-text-color;
        opacity: $default-opacity;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px $secondary-bg-color inset !important;
        -webkit-text-fill-color: $primary-text-color !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.input-field-label {
    cursor: pointer;
}

.invalid-input-message {
    padding-left: 4px;
    color: $delete-action-color;
}

.opacity-hover {
    cursor: pointer;

    &:hover {
        opacity: $default-opacity;
        transition: $hover-transition;
    }
}

.skeleton {
    background-color: $terciary-bg-color;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -150px;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right,
                transparent 0%,
                rgba(255, 255, 255, 0.2) 50%,
                transparent 100%);
        animation: shimmer 1.5s infinite;
    }
}

@media (min-width: $tablet-screen) {
    .page-container {
        padding: 16px;
    }

    .title-text {
        font-size: $tablet-title-font-size;
    }
}

@media (min-width: $notebook-screen) {
    .title-text {
        font-size: $notebook-title-font-size;
    }

    .subtitle-text {
        font-size: $notebook-subtitle-font-size;
    }

    .body-text {
        font-size: $notebook-body-font-size;
    }

    .small-body-text {
        font-size: $notebook-body-small-font-size;
    }

    .primary-icon {
        font-size: $notebook-icon-size;
    }

    .secondary-icon {
        font-size: $notebook-icon-size;
    }

    .input-field {
        min-height: $notebook-button-input-min-height;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}