<div id="cardContainer">
    <div id="studentInfoContainer">
        <h3 class="body-text primary-text">{{ student.name }}</h3>
        <div id="educationInfoWrapper">
            <p class="small-body-text secondary-text">{{ student.major }}</p>
            <p class="small-body-text secondary-text">-</p>
            <p class="small-body-text secondary-text">{{ student.college }}</p>
        </div>
        <p class="small-body-text secondary-text">{{ student.phoneNumber | phoneNumber }}</p>
    </div>
    <div>
        <span 
            id="moreVertIcon"
            (click)="toogleMenu()"
            [class.selected]="openActionsMenu" 
            class="material-symbols-rounded secondary-icon" 
        >
            {{ !openActionsMenu ? 'more_vert' : 'close' }}
        </span>
    </div>
    <div id="menuContainer" [class.open]="openActionsMenu">
        <ul>
            <li (click)="openStudentUpdateModal()">
                <span class="material-symbols-rounded secondary-icon">edit</span>
                <p class="body-text secondary-text">Editar</p>
            </li>
            <li (click)="changeStudentActiveStatus()">
                <span class="material-symbols-rounded secondary-icon">
                    {{ student.active ? "archive" : "unarchive"}}
                </span>
                <p class="body-text secondary-text">
                    {{ student.active ? "Desativar" : "Ativar"}}
                </p>
            </li>
        </ul>
    </div>

    @if (isUpdateModalOpened) {
    <app-student-update-modal 
        [student]="student" 
        (closeModalEmitter)="closeStudentUpdateModal()" 
        (successUpdateEmitter)="emmitStudentUpdated()"
    />
    }
</div>